{% extends "layout.twig" %}

{% block content %}

<!-- Container -->
<div class="container">

    <!-- Page Content -->
    <section class="template-content">

        <!-- Header Include -->
        {% include "includes/header.twig" %}

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->

    <!-- Footer Include -->
    {% include "includes/footer.twig" %}

</div>
<!-- End Container -->

{% endblock %}