{% extends "layout.twig" %}

{% block content %}

<!-- Container -->
<div class="container">

    <!-- Page Content -->
    <section class="template-content">

        <!-- Header Include -->
        {% include "includes/header.twig" %}

        {{widget('feature', 'featurehome', {
            "header": "profile",
            "defaultBgImg": asset('images/feature.jpg'),
            'positionTopPercentage': '0',
            'showBtn': true,
            buttonText: "Lorem Ipsum"
        })|raw}}

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->

</div>
<!-- End Container -->

{% endblock %}