<!-- Footer -->
<footer class="template-footer">

	<div class="container-footer">
        <div class="footer-profile">

        {{widget('socialicons', 'socialnetworks', {'googleplus': 'profile', 'linkedin':'profile', 'facebook': 'profile', 'twitter': 'profile', 'youtube': 'profile', 'rss': 'profile'})|raw}}

        </div>
         <div class="footer-content">
            {{widget('content', 'content', { content: '<p>Lorem ipsum dolor sit amet</p>'})|raw}}
        </div>
	</div>

</footer>
<!-- End Footer -->
