<!-- Header -->
<header class="template-header">

    <div class="container">

        {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}

        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}

        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}

    </div>

</header>
<!-- End Header -->